<div class="logo">
  <a class="simple-text text-center">
    <img class="image-logo mb-3" src="assets/img/final.png" alt="logo">
  </a>
  <hr class="mt-0">
  <a class="simple-text logo-normal text-center p-0 text-gray">
    สาขา
  </a>
  <a style="font-size: 20px;" class="simple-text logo-normal text-center text-primary p-0" *ngIf="getBranchById">
    {{getBranchById.branchName}}
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">



    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" [routerLink]="'/staff/check-stock'">
        <i class="material-icons">checklist</i>
        <p>ตรวจสอบสินค้า</p>
      </a>
    </li>

    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" [routerLink]="'/staff/receipt'">
        <i class="material-icons">description</i>
        <p>รับสินค้าเข้า</p>
      </a>
    </li>

  </ul>

</div>
