<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">


      <div class="row">

        <div class="col-md-12 d-flex">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title"> Filter</h5>
            </div>
            <div class="card-body">

              <div class="row">

                <div class="col-md-12">
                  <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" placeholder="Search..." class="form-control" (focus)="focus=true"
                      (blur)="focus=false" (keyup)="onKeyUp($event)" />
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>

      </div>
      <div class="row">

        <div class="col-md-12">
          <div class="card">

            <div class="card-header">

              <div class="row">
                <div class="col-md-6">

                  <h5 class="card-title"> Calculate Min Max</h5>
                </div>
                <div class="col-md-6">



                  <button type="button" class="btn btn-info  float-right mt-0 ml-2" (click)="exportExcel()">
                    Export
                  </button>


                </div>
              </div>
            </div>

            <div class="card-body">

              <div class="">
                <table class="table table-hover" id="excel-table">

                  <thead class="text-primary">
                    <tr>
                      <th class="text-center" style="width: 10%;">ลำดับที่</th>
                      <th>ชื่อวัตถุดิบ</th>
                      <th>ชื่อหมวดหมู่</th>
                      <th>Quantity</th>
                      <th>Max Stock</th>
                      <th>Safety Stock</th>
                      <th>Reorder point</th>
                      <th> หน่วยใช้</th>

                    </tr>
                  </thead>

                  <tbody>
                    <tr
                      *ngFor="let item of getIngredients | paginate: {id: 'pagination',itemsPerPage: pageSize, currentPage: page,totalItems: count };let i =index;">

                      <td class="text-center"> {{(page-1) * pageSize + i + 1}}</td>
                      <td class="text-primary">

                        <span class="text-primary text-bold"> {{item.ingredientName}}</span>

                      </td>
                      <td>{{item.category.ingredientCategoryName}}</td>
                      <td>{{item.quantity}}</td>
                      <td>{{item.maxStock}}</td>
                      <td>{{item.safetyStock}}</td>
                      <td>{{item.reorderPoint}}</td>
                      <td>{{item.useUnit}}</td>



                    </tr>

                  </tbody>
                </table>
              </div>
              <hr>
              <div class="row mt-2 ">

                <div class="col-md-6 align-self-center">
                  <select class="form-control float-right" style="width: 100px;" [(ngModel)]="pageSize"
                    (change)="onPageChange($event)">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                  </select>
                  <span class="float-right mt-1 mr-3 text-gray">Item Per Page : </span>

                </div>
                <div class="col-md-6 ">
                  <pagination-controls class="pageData " id="pagination" previousLabel="Prev" nextLabel="Next"
                    [responsive]="true" (pageChange)="handlePageChange($event)"></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
