.modal-dialog {
  max-width: 50% !important;
  width: 50% !important;
}

.pageData ::ng-deep .ngx-pagination .current {
  background: #c4974f;
  border-radius: 50%;
  color: #a72f00;
}

.pageData ::ng-deep .ngx-pagination .current span {
  padding-left: 1px;
  padding-right: 1px;
}

.pageData ::ng-deep .ngx-pagination a span {
  padding-left: 1px;
  padding-right: 1px;
}
