<div class="panel-header panel-header-sm">
</div>
<div class="main-content">

  <div class="row " *ngIf="getCompany">
    <div class="col-lg-4 d-flex">

      <div class="card  ">
        <div class="image">
          <img [src]="imageToShow" alt="...">
        </div>

        <div class="card-body">
          <div class="author">
            <div class="row justify-content-center">
              <div class="col-12 text-center">
                <a>
                  <h5 class="title">{{getCompany.companyName}}</h5>
                </a>

              </div>

            </div>

            <hr>
            <div class="row">
              <div class="col-5">
                <label class="text-title">ชื่อแบรนด์</label>
              </div>
              <div class="col-7">
                <label class="text-dark">{{getCompany.companyName}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-5">
                <label class="text-title">รหัสแบรนด์</label>
              </div>
              <div class="col-7">
                <label class="text-dark">{{getCompany.companyId}}</label>
              </div>
            </div>

            <div class="row">
              <div class="col-5">
                <label class="text-title">เบอร์โทรแบรนด์</label>
              </div>
              <div class="col-7">
                <label class="text-dark">{{getCompany.phone}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-5">
                <label class="text-title">อีเมลแบรนด์</label>
              </div>
              <div class="col-7">
                <label class="text-dark">{{getCompany.email}}</label>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-5">
                <label class="text-title">เลขผู้เสียภาษี</label>
              </div>
              <div class="col-7">
                <label class="text-dark">{{getCompany.taxId}}</label>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12 text-center">
              <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                (click)="onRemoveBrand()" class="btn btn-danger btn-link">
                <i class="material-icons">close</i><span class="text-danger ml-2">ลบข้อมูล</span>
              </button>

            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="col-lg-8 d-flex flex-column">

      <div class="row">

        <div class="col-lg-12">

          <div class="card ">
            <div class="card-header">
              <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">

                  <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                      <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                        Infomation
                        <div class="ripple-container"></div>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a mat-button class="nav-link" href="#logo" data-toggle="tab">
                        Logo
                        <div class="ripple-container"></div>
                      </a>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body ">

              <div class="tab-content ">
                <div class="tab-pane active" id="profile">
                  <form [formGroup]="companyForm" (ngSubmit)="onEditCompany()">
                    <div class="row">
                      <div class="col-md-12  ">
                        <div class="form-group"
                          [ngClass]="{ 'has-danger': f['brandName'].touched && f['brandName'].errors, 'has-success': f['brandName'].valid }">
                          <label>ชื่อแบรนด์</label>
                          <input type="text" class="form-control" formControlName="brandName">
                        </div>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group"
                          [ngClass]="{ 'has-danger': f['brandId'].touched && f['brandId'].errors, 'has-success': f['brandId'].valid }">
                          <label for="brandId">รหัสแบรนด์</label>
                          <input type="text" class="form-control" formControlName="brandId">
                        </div>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group"
                          [ngClass]="{ 'has-danger': f['brandPhone'].touched && f['brandPhone'].errors, 'has-success': f['brandPhone'].valid }">
                          <label for="brandPhone">เบอร์โทรแบรนด์</label>
                          <input type="text" class="form-control" formControlName="brandPhone">
                        </div>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group"
                          [ngClass]="{ 'has-danger': f['brandEmail'].touched && f['brandEmail'].errors, 'has-success': f['brandEmail'].valid }">
                          <label for="brandEmail">อีเมลแบรนด์</label>
                          <input type="text" class="form-control" formControlName="brandEmail">
                        </div>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group"
                          [ngClass]="{ 'has-danger': f['taxId'].touched && f['taxId'].errors, 'has-success': f['taxId'].valid }">
                          <label for="taxId">เลขผู้เสียภาษี</label>
                          <input type="text" class="form-control" formControlName="taxId">
                        </div>
                      </div>

                    </div>


                    <div class="row">
                      <div class="col-md-12 text-right">
                        <div class="update">
                          <button class="btn btn btn-success" type="submit">
                            <span>บันทึกข้อมูล</span> </button>
                        </div>
                      </div>
                    </div>
                  </form>

                </div>
                <div class="tab-pane" id="logo">
                  <div class="row justify-content-center mb-3 mt-3">

                    <div class="col-md-12 text-center">
                      <label class="hoverable" for="customFile">
                        <img alt="User Pic" [src]="url ? url : imageToShow" class="img-upload">
                        <div class="hover-text" *ngIf="!url">
                          <i class="material-icons mdi-file-upload">upload_file</i>
                        </div>

                        <div class="hover-filename " *ngIf="url">
                          <div class="row justify-content-center">
                            <div class="col-12 text-center">
                              <span class="filename"> <b>{{fileName}}</b> </span>
                            </div>

                          </div>
                          <div class="row justify-content-center">
                            <div class="col-12 text-center mb-2">
                              <span class="dropDrag">Drag and drop or click to
                                replace</span>
                            </div>
                            <div class="col-md-12  text-center">

                              <label class="hover-remove text-center" *ngIf="url" (click)="delete($event) ">
                                <div> <i class="material-icons">delete</i></div>
                              </label>
                            </div>
                          </div>

                        </div>


                      </label>
                      <input type="file" id="customFile" accept="image/*" (change)="selectFile($event)">
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-md-12 text-right">
                      <div class="update">
                        <button class="btn btn btn-success" type="submit" (click)="onUpload()">
                          <span>บันทึกข้อมูล</span> </button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>

          </div>

        </div>

      </div>


    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"> Filter</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-10">
              <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" placeholder="Search..." class="form-control" (focus)="focus1=true"
                  (blur)="focus1=false" [(ngModel)]="title" [ngModelOptions]="{standalone: true}"
                  (keyup)="onKeyUp($event)" />
              </div>
            </div>

            <div class="col-md-2">
              <button class="btn btn-primary btn-round btn-block m-0" (click)="showChildModal()">เพิ่มสาขาใหม่</button>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="col-md-12">
      <div class="card ">

        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <h4 class="card-title">รายชื่อสาขา</h4>
            </div>

            <div class="col-md-6">
              <button type="button" class="btn btn-info  float-right mt-0 ml-2">
                Export
              </button>
            </div>

          </div>
        </div>

        <div class="card-body">

          <div class="table-responsive">
            <table class="table table-hover">

              <thead class="text-gray">
                <tr>
                  <th>ชื่อสาขา</th>
                  <th>รหัสสาขา</th>
                  <th>เบอร์โทรสาขา</th>
                  <th style="width: 25%;">ที่อยู่</th>
                  <th>จังหวัด</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>

              <tbody>
                <tr
                  *ngFor="let item of getBranch | paginate: {id: 'pagination',itemsPerPage: pageSize, currentPage: page,totalItems: count };let i =index;">

                  <td class="text-dark">
                    <span style="font-weight: bold;" class="text-dark"> {{item.branchName}}</span>
                  </td>
                  <td> {{item.branchId}}</td>
                  <td> {{item.phone}}</td>
                  <td> {{item.address}} อำเภอ{{item.district.name}} <br> จังหวัด{{item.province.name}}
                    {{item.zipcode}}
                  </td>
                  <td> {{item.province.name}}</td>

                  <td class="text-center">




                    <button type="button" matTooltip="Edit" [matTooltipPosition]="'above'"
                      class="btn btn-success btn-link btn-sm btn-icon" (click)="showChildModal2(item.id)">
                      <i class="material-icons">edit</i>
                    </button>
                    <button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                      class="btn btn-danger btn-link btn-sm btn-icon" (click)="onDelete(item.id)">
                      <i class="material-icons">close</i>
                    </button>

                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <div class="row mt-2">
            <div class="col-md-12 text-center">
              <pagination-controls class="pageData" id="pagination" previousLabel="Prev" nextLabel="Next"
                [responsive]="true" (pageChange)="handlePageChange($event)"></pagination-controls>
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>
</div>



<div class="modal fade" bsModal #staticModal="bs-modal" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left card-title text-primary">เพิ่มร้านค้าใหม่</h4>
        <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
          <i class="material-icons">close</i>
        </button>
      </div>
      <form [formGroup]="branchForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">

          <div class="row">
            <div class="col-md-12">
              <div class="form-group"
                [ngClass]="{ 'has-danger': fBranch['branchName'].touched && fBranch['branchName'].errors, 'has-success': fBranch['branchName'].valid }">
                <label>ชื่อสาขา</label>
                <input type="text" class="form-control" formControlName="branchName">
              </div>

            </div>

          </div>
          <div class="row">
            <div class="col-md-6  ">
              <div class="form-group"
                [ngClass]="{ 'has-danger': fBranch['branchId'].touched && fBranch['branchId'].errors, 'has-success': fBranch['branchId'].valid }">
                <label>รหัสสาขา</label>
                <input class="form-control" placeholder="" formControlName="branchId" required>
              </div>

            </div>

            <div class="col-md-6  ">
              <div class="form-group"
                [ngClass]="{ 'has-danger': fBranch['branchPhone'].touched && fBranch['branchPhone'].errors, 'has-success': fBranch['branchPhone'].valid }">
                <label>เบอร์โทรศัพท์</label>
                <input class="form-control" placeholder="" formControlName="branchPhone" required>
              </div>

            </div>
          </div>


          <div class="row">


            <div class="col-md-12 ">
              <div class="form-group"
                [ngClass]="{ 'has-danger': fBranch['address'].touched && fBranch['address'].errors, 'has-success': fBranch['address'].valid }">
                <label>ที่อยู่</label>
                <input class="form-control" placeholder="" formControlName="address" required>
              </div>


            </div>
          </div>

          <div class="row">

            <div class="col-md-12  ">
              <div class="form-group"
                [ngClass]="{ 'has-danger': fBranch['province'].touched && fBranch['province'].errors, 'has-success': fBranch['province'].valid }">
                <label>จังหวัด</label>
                <select class="form-control" formControlName="province" (change)="onChangeProvince($event.target)">
                  <option value=""> จังหวัด </option>
                  <option *ngFor="let getProvince of getProvince" [value]="getProvince.pid"> {{getProvince.name}}
                  </option>
                </select>
              </div>

            </div>


          </div>
          <div class="row">
            <div class="col-md-6 ">
              <div class="form-group"
                [ngClass]="{ 'has-danger': fBranch['district'].touched && fBranch['district'].errors, 'has-success': fBranch['district'].valid }">
                <label>อำเภอ</label>
                <select class="form-control" formControlName="district" (change)="onChangeDistrict($event.target)">
                  <option value=""> อำเภอ </option>
                  <option *ngFor="let getDistrict of getDistrict" [value]="getDistrict.id"> {{getDistrict.name}}
                  </option>
                </select>
              </div>

            </div>
            <div class="col-md-6 ">
              <div class="form-group"
                [ngClass]="{ 'has-danger': fBranch['zipcode'].touched && fBranch['zipcode'].errors, 'has-success': fBranch['zipcode'].valid }">
                <label>รหัสไปรษณีย์</label>
                <input class="form-control" placeholder="" formControlName="zipcode" required>
              </div>

            </div>

          </div>


        </div>
        <div class="modal-footer">
          <button type="submit" [disabled]="branchForm.invalid" class="btn btn-success">ยืนยัน</button>
          <button type="button" class="btn btn-gray" (click)="hideChildModal()">ยกเลิก</button>

        </div>

      </form>
    </div>
  </div>

</div>




<div class="modal fade" bsModal #staticModal2="bs-modal" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left card-title text-primary">เพิ่มร้านค้าใหม่</h4>
        <button type="button" class="close" aria-label="Close" (click)="hideChildModal2()">
          <i class="material-icons">close</i>
        </button>
      </div>
      <form [formGroup]="branchUpdateForm" (ngSubmit)="onUpdate()">
        <div class="modal-body">

          <div class="row">
            <div class="col-md-12">
              <div class="form-group"
                [ngClass]="{ 'has-danger': fUpdate['branchName'].touched && fUpdate['branchName'].errors, 'has-success': fUpdate['branchName'].valid }">
                <label>ชื่อสาขา</label>
                <input type="text" class="form-control" formControlName="branchName">
              </div>

            </div>

          </div>
          <div class="row">
            <div class="col-md-6  ">
              <div class="form-group"
                [ngClass]="{ 'has-danger': fUpdate['branchId'].touched && fUpdate['branchId'].errors, 'has-success': fUpdate['branchId'].valid }">
                <label>รหัสสาขา</label>
                <input class="form-control" placeholder="" formControlName="branchId" required>
              </div>

            </div>

            <div class="col-md-6  ">
              <div class="form-group"
                [ngClass]="{ 'has-danger': fUpdate['branchPhone'].touched && fUpdate['branchPhone'].errors, 'has-success': fUpdate['branchPhone'].valid }">
                <label>เบอร์โทรศัพท์</label>
                <input class="form-control" placeholder="" formControlName="branchPhone" required>
              </div>

            </div>
          </div>


          <div class="row">


            <div class="col-md-12 ">
              <div class="form-group"
                [ngClass]="{ 'has-danger': fUpdate['address'].touched && fUpdate['address'].errors, 'has-success': fUpdate['address'].valid }">
                <label>ที่อยู่</label>
                <input class="form-control" placeholder="" formControlName="address" required>
              </div>


            </div>
          </div>

          <div class="row">

            <div class="col-md-12  ">
              <div class="form-group"
                [ngClass]="{ 'has-danger': fUpdate['province'].touched && fUpdate['province'].errors, 'has-success': fUpdate['province'].valid }">
                <label>จังหวัด</label>
                <select class="form-control" formControlName="province" (change)="onChangeProvince($event.target)">
                  <option value=""> จังหวัด </option>
                  <option *ngFor="let getProvince of getProvince" [value]="getProvince.pid"> {{getProvince.name}}
                  </option>
                </select>
              </div>

            </div>


          </div>
          <div class="row">
            <div class="col-md-6 ">
              <div class="form-group"
                [ngClass]="{ 'has-danger': fUpdate['district'].touched && fUpdate['district'].errors, 'has-success': fUpdate['district'].valid }">
                <label>อำเภอ</label>
                <select class="form-control" formControlName="district" (change)="onChangeDistrict($event.target)">
                  <option value=""> อำเภอ </option>
                  <option *ngFor="let getDistrict of getDistrict" [value]="getDistrict.id"> {{getDistrict.name}}
                  </option>
                </select>
              </div>

            </div>
            <div class="col-md-6 ">
              <div class="form-group"
                [ngClass]="{ 'has-danger': fUpdate['zipcode'].touched && fUpdate['zipcode'].errors, 'has-success': fUpdate['zipcode'].valid }">
                <label>รหัสไปรษณีย์</label>
                <input class="form-control" placeholder="" formControlName="zipcode" required>
              </div>

            </div>

          </div>


        </div>
        <div class="modal-footer">
          <button type="submit" [disabled]="branchUpdateForm.invalid" class="btn btn-success">ยืนยัน</button>
          <button type="button" class="btn btn-gray" (click)="hideChildModal2()">ยกเลิก</button>

        </div>

      </form>
    </div>
  </div>

</div>