<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"> Filter</h5>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-md-10">
              <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" placeholder="Search..." class="form-control" (focus)="focus1=true"
                  (blur)="focus1=false" [(ngModel)]="title" [ngModelOptions]="{standalone: true}"
                  (keyup)="onKeyUp($event)" />
              </div>
            </div>

            <div class="col-md-2">
              <button class="btn btn-primary btn-round btn-block m-0" (click)="showChildModal()">เพิ่มพนักงาน</button>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="col-md-12">
      <div class="card">

        <div class="card-header">
          <div class="row">
            <div class="col-md-6">

              <h4 class="card-title">รายชื่อผู้ใช้งานระบบ</h4>
            </div>
            <div class="col-md-6">


              <button type="button" class="btn btn-info  float-right mt-0 ml-2">
                Export
              </button>


            </div>
          </div>
        </div>

        <div class="card-body">

          <div class="">
            <table class="table table-hover">

              <thead class="text-primary">
                <tr>
                  <th>อีเมล</th>
                  <th>ชื่อจริง-สกุล</th>
                  <th>เบอร์โทร</th>
                  <th>Role</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>

              <tbody>
                <tr
                  *ngFor="let getUser of users | paginate: {id: 'pagination',itemsPerPage: pageSize, currentPage: page,totalItems: count };let i =index;">

                  <td class="text-primary">
                    <div class="img-container">
                      <img class="img-wrapper mr-3" [src]="imageToShow" alt="...">
                      <a (click)="onDetail(getUser.id)" class="text-primary text-bold">{{getUser.email}}</a>
                    </div>
                  </td>
                  <td> {{getUser.name}}</td>
                  <td> {{getUser.phone}}</td>

                  <td *ngFor="let item of getUser.roles">
                    <span class="text-success" *ngIf="item.name =='ROLE_BRAND'">BRAND</span>
                    <span class="text-info" *ngIf="item.name =='ROLE_MANAGER'">MANAGER</span>
                    <span class="text-warning" *ngIf="item.name =='ROLE_OWNER'">OWNER</span>
                    <span class="text-danger" *ngIf="item.name =='ROLE_STAFF'">STAFF</span>
                  </td>
                  <td class="text-center">


                    <button mat-raised-button type="button" matTooltip="Edit" [matTooltipPosition]="'above'"
                      class="btn btn-success btn-sm btn-link  btn-icon" (click)="onDetail(getUser.id)">
                      <i class="material-icons">edit</i>
                    </button>
                    <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                      class="btn btn-danger btn-sm btn-link btn-icon" (click)="onDelete(getUser.id)">
                      <i class="material-icons">close</i>
                    </button>

                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <div class="row mt-2">

            <div class="col-md-12 text-center">
              <pagination-controls class="pageData" id="pagination" previousLabel="Prev" nextLabel="Next"
                [responsive]="true" (pageChange)="handlePageChange($event)"></pagination-controls>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>




<div class="modal fade" bsModal #staticModal="bs-modal" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="dialog-static-name" class="modal-title pull-left card-title text-primary mt-0">เพิ่มผู้ใช้งานระบบใหม่
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
          <i class="material-icons">close</i>
        </button>
      </div>
      <form [formGroup]="userForm" (ngSubmit)="create()">
        <div class="modal-body">


          <div class="row">

            <div class="col-md-12 ">
              <div class="form-group"
                [ngClass]="{ 'has-danger': f['name'].touched && f['name'].errors, 'has-success': f['name'].valid }">
                <label for="name"> ชื่อจริง-สกุล</label>
                <input type="text" class="form-control" id="name" formControlName="name">
              </div>
            </div>

          </div>



          <div class="row">

            <div class="col-md-6 ">
              <div class="form-group"
                [ngClass]="{ 'has-danger': f['email'].touched && f['email'].errors, 'has-success': f['email'].valid }">
                <label for="email">อีเมล</label>
                <input type="text" class="form-control" id="email" formControlName="email">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group"
                [ngClass]="{ 'has-danger': f['phone'].touched && f['phone'].errors, 'has-success': f['phone'].valid }">
                <label for="phone">เบอร์โทรศัพท์</label>
                <input type="text" class="form-control" id="phone" formControlName="phone">
              </div>

            </div>
          </div>

          <div class="row">

            <div class="col-md-6 ">
              <div class="form-group"
                [ngClass]="{ 'has-danger': f['password'].touched && f['password'].errors, 'has-success': f['password'].valid }">
                <label for="password">Password</label>
                <input type="text" class="form-control" id="password" formControlName="password">
              </div>
            </div>
            <div class="col-md-6 ">
              <div class="form-group"
                [ngClass]="{ 'has-danger': f['confirmPassword'].touched && f['confirmPassword'].errors, 'has-success': f['confirmPassword'].valid }">
                <label for="confirmPassword">Confirm Password</label>
                <input type="text" class="form-control" id="confirmPassword" formControlName="confirmPassword">
              </div>

            </div>
          </div>

        </div>


        <div class="modal-footer">
          <button type="submit" [disabled]="userForm.invalid" class="btn btn-success">ยืนยัน</button>
          <button type="button" class="btn btn-gray" (click)="hideChildModal()">ยกเลิก</button>

        </div>

      </form>
    </div>
  </div>

</div>
