<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">

          <h5 class="card-title">สร้างใบขอซื้อ (PR)

          </h5>

        </div>
        <hr>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6  ">
              <form [formGroup]="dateForm">
                <div class="form-group">
                  <label>วันที่ขอซื้อ</label>
                  <input formControlName="date" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                    #d="ngbDatepicker" (click)="d.toggle()" autocomplete="off">
                </div>
              </form>
            </div>
            <div class="col-md-6  ">
              <div class="form-group">
                <label>ประเภทภาษี</label>
                <select [value]="selectedVat" (change)="onChangeVat($event)" class="form-control">
                  <option value="ไม่มีภาษี">ไม่มีภาษี</option>
                  <option value="รวมภาษีมูลค่าเพิ่ม">รวมภาษีมูลค่าเพิ่ม 7%</option>
                  <option value="แยกภาษีมูลค่าเพิ่ม">แยกภาษีมูลค่าเพิ่ม 7%</option>
                </select>
              </div>
            </div>
            <div class="col-md-6  ">
              <div class="form-group">
                <label for="text">ค่าจัดส่ง</label>
                <input type="number" class="form-control" [(ngModel)]="shipping" (change)="onChangeShipping()">
              </div>
            </div>
            <div class="col-md-6 ">
              <div class="form-group">
                <label>ส่วนลดท้ายบิล</label>
                <input type="number" class="form-control" [(ngModel)]="discount" (change)="onChangeDiscount($event)">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>หมายเหตุ</label>
                <textarea rows="4" cols="80" class="form-control" [(ngModel)]="description"></textarea>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="col-md-12">
      <div class="card">

        <div class="card-header">

          <div class="row">
            <div class="col-md-6">

              <h5 class="card-title">รายการวัตถุดิบ

              </h5>
            </div>
            <div class="col-md-6">
              <button type="button" class="btn btn-primary float-right mt-0 btn-round"
                (click)="showChildModal()">เลือกวัตถุดิบ</button>
            </div>
          </div>
        </div>

        <div class="card-body">

          <div class="">
            <table class="table">

              <thead class="text-primary">
                <tr>
                  <th class="text-center" style="width: 5%;">ลำดับที่</th>
                  <th>รูปภาพ</th>
                  <th>ชื่อวัตถุดิบ</th>
                  <th>ชื่อหมวดหมู่</th>
                  <th style="width: 20%;">จำนวน</th>
                  <th>หน่วย</th>
                  <th style="width: 15%;">ราคา</th>
                  <th class="text-right">ราคารวม</th>

                  <th class="text-right">Action</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let item of cartItemList; let i = index">
                  <td class="text-center"> {{i+1}}</td>
                  <td class="text-dark">
                    <div class="img-container">
                      <img class="img-row"
                        [src]="item.imageUrl == '' || item.imageUrl == null ? imageToShow : item.imageUrl" alt="image">

                    </div>
                  </td>
                  <td class="text-primary">

                    <span class="text-primary text-bold"> {{item.ingredientName}}</span>

                  </td>
                  <td> {{item.category.ingredientCategoryName}}</td>
                  <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <div class=" input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend input-group-prepend-quantity">
                          <button class="input-group-text btn-success pr-3" (click)="onRemoveQuantity(item,i)">
                            <span class="material-icons">
                              remove</span>
                          </button>
                        </div>
                        <input min="1" type="number" class="form-control text-center" (focus)="focus1=true"
                          (blur)="focus1=false" [(ngModel)]="item.quantityRequest" (change)="onSearchChange(item,i)"
                          [ngModelOptions]="{standalone: true}" value="{{item.quantityRequest}}" />
                        <div class="input-group-append">
                          <button class="input-group-text btn-success pl-3" (click)="onAddQuantity(item,i)">
                            <span class="material-icons">add</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>{{item.purchaseUnit}}</td>
                  <td>
                    <div class="form-group">

                      <input min="1" type="number" class="form-control text-center" (focus)="focus=true"
                        value="{{item.price}}" (blur)="focus=false" [(ngModel)]="item.price"
                        (change)="onSearchChange(item,i)" [ngModelOptions]="{standalone: true}" />
                    </div>

                  </td>
                  <td class="text-right">{{item.price*item.quantityRequest| number:'1.2-2'}} </td>
                  <td class="text-right">

                    <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                      class="btn btn-danger btn-sm btn-link btn-icon" (click)="onRemove(item)">
                      <i class="material-icons">close</i>
                    </button>

                  </td>
                </tr>

              </tbody>
            </table>
          </div>

          <hr>

          <div class="row mt-3">

            <div class="col-md-6">


            </div>


            <div class="col-md-6">

              <div class="row mb-2">
                <div class="col-6 text-left">
                  <span class="text-muted">รวมเป็นเงิน</span>
                </div>
                <div class="col-6 text-right">
                  <span class="text-dark ">{{total | number:'1.2-2'}}</span>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-6 text-left">
                  <span class="text-muted">ค่าจัดส่ง</span>
                </div>
                <div class="col-6 text-right">
                  <span class="text-dark ">{{shipping | number:'1.2-2'}}</span>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-6  text-left">
                  <span class="text-muted">ส่วนลดท้ายบิล</span>
                </div>
                <div class="col-6 text-right">
                  <span class="text-dark">-{{discountValue | number:'1.2-2'}}</span>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-6  text-left">
                  <span class="text-muted">ราคาหลังหักส่วนลด</span>
                </div>
                <div class="col-6 text-right">
                  <span class="text-dark">{{totalDiscount | number:'1.2-2'}}</span>
                </div>
              </div>


              <div class="row mb-2">
                <div class="col-6  text-left">
                  <span class="text-muted">มูลค่ารวมก่อนภาษี </span>
                </div>
                <div class="col-6 text-right">
                  <span class="text-dark">{{totalVat | number:'1.2-2'}}</span>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-6  text-left">
                  <span class="text-muted">ภาษีมูลค่าเพิ่ม (7%) </span>
                </div>
                <div class="col-6 text-right">
                  <span class="text-dark">{{vat | number:'1.2-2'}}</span>
                </div>
              </div>


              <hr>

              <div class="row mb-3">

                <div class="col-6  text-left">
                  <b><span style="font-weight: bold;" class="text-primary">จำนวนเงินรวมทั้งสิ้น</span></b>
                </div>
                <div class="col-6 text-right">
                  <b><span style="font-weight: bold;" class="text-primary ">{{totalAll |
                      number:'1.2-2'}}</span></b>
                </div>
              </div>
              <hr>
              <div class="row">

                <div class="col-12">


                  <button type="button" class="btn btn-success float-right mt-3"
                    (click)="onCreate()">สร้างใบขอซื้อ</button>
                  <button type="button" (click)="onBack()" class="btn btn-gray float-right mt-3 mr-2">ยกเลิก</button>
                </div>


              </div>

            </div>

          </div>


        </div>
      </div>
    </div>

  </div>
</div>




<div class="modal fade" bsModal [config]="{backdrop: 'static'}" #staticModal="bs-modal" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="dialog-static-name" class="modal-title pull-left card-title text-primary mt-0">เลือกวัตถุดิบ
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
          <i class="material-icons">close</i>
        </button>
      </div>

      <div class="modal-body">
        <div class="row mb-2">
          <div class="col-md-6">
            <div class="form-group">
              <select class="form-control" (change)="onChange($event)" [(ngModel)]="categoryId"
                [ngModelOptions]="{standalone: true}">
                <option value="">Category</option>
                <option *ngFor="let getCategory of getCategory" [value]="getCategory.id">
                  {{getCategory.ingredientCategoryName}}</option>

              </select>

            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
              </div>
              <input type="text" placeholder="Search..." class="form-control" (focus)="focus1=true"
                (blur)="focus1=false" [(ngModel)]="search" [ngModelOptions]="{standalone: true}"
                (keyup)="onKeyUp($event)" />
            </div>
          </div>

        </div>
        <div class="">
          <table class="table table-hover">

            <thead class="text-primary">
              <tr>
                <th></th>
                <th>รูปภาพ</th>
                <th>ชื่อวัตถุดิบ</th>
                <th>ชื่อหมวดหมู่</th>
                <th>หน่วย</th>
                <th>ราคา</th>


              </tr>
            </thead>

            <tbody>
              <tr
                *ngFor="let item of getIngredients | paginate: {id: 'pagination',itemsPerPage: pageSize, currentPage: page,totalItems: count }; let i =index;">
                <td>
                  <input type="checkbox" (change)="selectItem($event,item)" [checked]="item.checked">

                </td>
                <td class="text-dark">
                  <div class="img-container">
                    <img class="img-row"
                      [src]="item.imageUrl == '' || item.imageUrl == null ? imageToShow : item.imageUrl" alt="image">

                  </div>
                </td>
                <td class="text-primary">

                  <span class="text-primary text-bold"> {{item.ingredientName}}</span>

                </td>

                <td> {{item.category.ingredientCategoryName}}</td>

                <td>{{item.purchaseUnit}}</td>
                <td>{{item.price | number:'1.2-2'}} </td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="row mt-3">

          <div class="col-md-12 text-center">
            <pagination-controls class="pageData" id="pagination" previousLabel="Prev" nextLabel="Next"
              [responsive]="true" (pageChange)="handlePageChange($event)"></pagination-controls>
          </div>

        </div>
      </div>


      <div class="modal-footer">
        <button type="submit" class="btn btn-success" (click)="onConfrim()">ยืนยัน</button>
        <button type="button" class="btn btn-gray" (click)="hideChildModal()">ยกเลิก</button>

      </div>


    </div>
  </div>

</div>
