<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"> Filter</h5>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-md-8">
              <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" placeholder="Search..." class="form-control" (focus)="focus=true"
                  (blur)="focus=false" (keyup)="onKeyUp($event)" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
                <input class="form-control" placeholder="Date" name="dp" ngbDatepicker (focus)="focus1=true"
                  (blur)="focus1=false" #d2="ngbDatepicker" (click)="d2.toggle()" autocomplete="off" [(ngModel)]="today"
                  (dateSelect)="onDateSelect($event)">
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="col-md-12">
      <div class="card">

        <div class="card-header">

          <div class="row">
            <div class="col-md-6">

              <h5 class="card-title">รายการสต็อกที่ใช้ไป</h5>
              <h6 class="text-gray"> วันที่ {{date}}</h6>
            </div>
            <div class="col-md-6">


              <button type="button" class="btn btn-outline-danger  float-right mt-0 ml-2">
                Export
              </button>


            </div>
          </div>
        </div>

        <div class="card-body">

          <div class="">
            <table class="table table-hover">

              <thead class="text-primary">
                <tr>
                  <th>ลำดับที่</th>
                  <th>ชื่อวัตถุดิบ</th>
                  <th>ชื่อหมวดหมู่</th>
                  <th>จำนวน</th>
                  <th>หน่วยนับสต๊อก</th>
                  <th> ปริมาณ</th>
                  <th> หน่วยใช้</th>

                </tr>
              </thead>

              <tbody>
                <tr
                  *ngFor="let item of getIngredients | paginate: {id: 'pagination',itemsPerPage: pageSize, currentPage: page,totalItems: count };let i =index;">

                  <td class="text-center"> {{(page-1) * pageSize + i + 1}}</td>
                  <td class="text-primary">

                    <span class="text-primary text-bold"> {{item.ingredientName}}</span>

                  </td>
                  <td>{{item.category.ingredientCategoryName}}</td>
                  <td>{{item.quantity}} </td>
                  <td>{{item.stockUnit}}</td>
                  <td> {{item.amount}}</td>
                  <td>{{item.useUnit}}</td>

                </tr>

              </tbody>
            </table>
          </div>
          <div class="row mt-2">

            <div class="col-md-12 text-center">
              <pagination-controls class="pageData" id="pagination" previousLabel="Prev" nextLabel="Next"
                [responsive]="true" (pageChange)="handlePageChange($event)"></pagination-controls>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
