<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"> Filter</h5>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-md-10">
              <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" placeholder="Search..." class="form-control" (focus)="focus1=true"
                  (blur)="focus1=false" />
              </div>
            </div>

            <div class="col-md-2">
              <button class="btn btn-primary btn-round btn-block m-0" (click)="onAdd()">สร้างรายการขาย</button>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="col-md-12">
      <div class="card">

        <div class="card-header">

          <div class="row">
            <div class="col-md-6">

              <h5 class="card-title">รายการขาย</h5>
            </div>
            <div class="col-md-6">


              <button type="button" class="btn btn-info  float-right mt-0 ml-2">
                Export
              </button>


            </div>
          </div>
        </div>

        <div class="card-body">

          <div class="">
            <table class="table table-hover">

              <thead class="text-primary">
                <tr class="tr-header">
                  <th>No.</th>
                  <th>เลขที่เอกสาร</th>
                  <th>วันที่</th>
                  <th>ช่องทางการขาย</th>
                  <th>การรับเงิน</th>
                  <th>พนักงาน</th>
                  <th style="width: 20%;">หมายเหตุ</th>
                  <th>สถานะ</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>

              <tbody>
                <tr
                  *ngFor="let item of getOrder | paginate: {id: 'pagination',itemsPerPage: pageSize, currentPage: page,totalItems: count };let i =index;">
                  <td class="text-center"> {{(page-1) * pageSize + i + 1}}</td>
                  <td class="text-primary">
                    <div class="img-container">
                      <span class="text-primary text-bold">{{item.orderId}}</span>
                    </div>
                  </td>
                  <td>{{item.dateDay}} {{item.time}}</td>
                  <td>
                    <span *ngIf="item.channelType=='atstore'">หน้าร้าน</span>
                    <span *ngIf="item.channelType=='takehome'">กลับบ้าน</span>
                    <span *ngIf="item.channelType=='delivery'">เดลิเวอรี่</span>
                  </td>
                  <td>{{item.paymentType}}</td>
                  <td>{{item.user.name}}</td>
                  <td>{{item.description}}</td>
                  <td>
                    <span class="badge badge-warning" style="font-weight: 500; font-size: 12px;"
                      *ngIf="item.orderStatus=='รออนุมัติ'">{{item.orderStatus}}</span>
                    <span class="badge badge-success" style="font-weight: 500; font-size: 12px;"
                      *ngIf="item.orderStatus=='ดำเนินการแล้ว'">{{item.orderStatus}}</span>

                  </td>
                  <td class="text-center">

                    <button mat-raised-button type="button" matTooltip="View" [matTooltipPosition]="'above'"
                      class="btn btn-warning btn-link btn-sm  btn-icon" (click)="onInformation(item.id)">
                      <i class="material-icons">visibility</i>
                    </button>


                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <div class="row mt-2">

            <div class="col-md-12 text-center">
              <pagination-controls class="pageData" id="pagination" previousLabel="Prev" nextLabel="Next"
                [responsive]="true" (pageChange)="handlePageChange($event)"></pagination-controls>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>