<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">

              <h5 class="card-title">ใบรับสินค้า (RI)

              </h5>
            </div>
            <div class="col-md-6" *ngIf="getOrderDetail">
              <button type="button" class="btn btn-danger float-right mt-0 ml-2" (click)="onCancel(getOrderDetail.id)">
                ยกเลิกรายการ
              </button>
              <button type="button" class="btn btn-info float-right mt-0 ml-2" (click)="onPrint(getOrderDetail.id)">
                พิมพ์เอกสาร
              </button>
              <button type="button" class="btn btn-outline-danger  float-right mt-0 ml-2"
                *ngIf="!getOrderDetail.statusApproved" (click)="onUnApporved(getOrderDetail.id)">
                ไม่อนุมัติ
              </button>

              <button type="button" class="btn btn-success float-right mt-0 ml-2" *ngIf="!getOrderDetail.statusApproved"
                (click)="onApporved(getOrderDetail.id)">
                อนุมัติ
              </button>

            </div>
          </div>
        </div>
        <hr>
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-lg-6" *ngIf="getOrderDetail">

              <div class="row mb-2">

                <div class="col-lg-12">
                  <span style="font-weight: bold; font-size: 18px;" class="title mb-2">ข้อมูลทั่วไป</span>
                </div>

              </div>

              <div class="row mb-2">
                <div class="col-4">
                  <span class="text-title text-gray">เลขที่เอกสาร :</span>
                </div>
                <div class="col-8">
                  <span class="text-primary text-bold">{{getOrderDetail.riId}}</span>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-4">
                  <span class="text-title text-gray">วันที่ :</span>
                </div>
                <div class="col-8">
                  <span class="text-data">{{getOrderDetail.dateDay}} {{getOrderDetail.time}}</span>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-4">
                  <span class="text-title text-gray">ผู้สร้างรายการ : </span>
                </div>
                <div class="col-8">
                  <span class="text-data" *ngIf="getUser">{{getUser.name}} </span>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-4">
                  <span class="text-title text-gray">อ้างอิง : </span>
                </div>
                <div class="col-8">
                  <a class="text-info" (click)="onRouter(getOrderDetail.reference)">
                    {{getOrderDetail.reference}}
                  </a>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-4">
                  <span class="text-title text-gray">สถานะ : </span>
                </div>
                <div class="col-8">
                  <span class="badge badge-warning" style="font-weight: 500; font-size: 12px;"
                    *ngIf="getOrderDetail.orderStatus=='รออนุมัติ'">{{getOrderDetail.orderStatus}}</span>
                  <span class="badge badge-success" style="font-weight: 500; font-size: 12px;"
                    *ngIf="getOrderDetail.orderStatus=='ดำเนินการแล้ว'">{{getOrderDetail.orderStatus}}</span>
                  <span class="badge badge-info" style="font-weight: 500; font-size: 12px;"
                    *ngIf="getOrderDetail.orderStatus=='อนุมัติแล้ว'">{{getOrderDetail.orderStatus}}</span>
                  <span class="badge badge-danger" style="font-weight: 500; font-size: 12px;"
                    *ngIf="getOrderDetail.orderStatus=='ไม่อนุมัติ'">{{getOrderDetail.orderStatus}}</span>
                  <span class="badge badge-purple" style="font-weight: 500; font-size: 12px;"
                    *ngIf="getOrderDetail.orderStatus=='กำลังดำเนินการ'">{{getOrderDetail.orderStatus}}</span>
                  <span class="badge badge-danger" style="font-weight: 500; font-size: 12px;"
                    *ngIf="getOrderDetail.orderStatus=='ยกเลิกรายการ'">{{getOrderDetail.orderStatus}}</span>
                </div>
              </div>




            </div>
            <div class="col-lg-6" *ngIf="getSupplier">
              <div class="row mb-2">

                <div class="col-lg-12">

                  <span style="font-weight: bold; font-size: 18px;" class="title mb-2">ข้อมูลผู้จัดจำหน่าย</span>
                </div>

              </div>
              <div class="row ">

                <div class="col-md-12">


                  <div class="row mb-2">
                    <div class="col-4">
                      <span class="text-title text-gray">ชื่อผู้จัดจำหน่าย :</span>
                    </div>
                    <div class="col-8">
                      <span class="text-data text-primary text-bold">{{getSupplier.name}}</span>
                    </div>
                  </div>



                  <div class="row mb-2">
                    <div class="col-4">
                      <span class="text-title text-gray">เบอร์โทร :</span>
                    </div>
                    <div class="col-8">
                      <span class="text-data">{{getSupplier.phone}}</span>
                    </div>
                  </div>

                  <div class="row mb-2">

                    <div class="col-4">
                      <span class="text-gray ">ที่อยู่: </span>
                    </div>
                    <div class="col-8">
                      <span class="text-data">{{getSupplier.address}} อำเภอ{{getSupplier.district.name}}
                        <br> จังหวัด{{getSupplier.province.name}} {{getSupplier.zipcode}}</span>
                    </div>

                  </div>
                  <div class="row mb-2">

                    <div class="col-4">
                      <span class="text-gray">เลขผู้เสียภาษี: </span>
                    </div>
                    <div class="col-8">
                      <span class="text-data">{{getSupplier.idNumber}} </span>
                    </div>

                  </div>

                  <div class="row mb-2" *ngIf="getSupplier.description">
                    <div class="col-4">
                      <span class="text-gray">รายละเอียด :</span>
                    </div>
                    <div class="col-8">
                      <span class="text-data">{{getSupplier.description}}</span>
                    </div>
                  </div>

                </div>




              </div>


            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-md-12">
      <div class="card">

        <div class="card-header">

          <div class="row">
            <div class="col-md-6">

              <h5 class="card-title">รายการวัตถุดิบ

              </h5>
            </div>

            <div class="col-md-6 text-right">
              <span class="badge badge-brown mr-3 mt-3" style="font-weight: 500; font-size: 12px;">รายการสินค้า :
                {{totalItem}} รายการ</span>
              <span class="badge badge-brown" style="font-weight: 500; font-size: 12px;">จำนวนทั้งหมด :
                {{totalQuantity}}</span>

            </div>

          </div>
        </div>

        <div class="card-body">

          <div class="">
            <table class="table table-hover">

              <thead class="text-primary">
                <tr>
                  <th class="text-center" style="width: 5%;">ลำดับที่</th>
                  <th>รูปภาพ</th>
                  <th>ชื่อวัตถุดิบ</th>
                  <th>ชื่อหมวดหมู่</th>
                  <th style="width: 20%;">จำนวน</th>
                  <th>หน่วย</th>
                  <th class="text-right">ราคา</th>
                  <th class="text-right">ราคารวม</th>


                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let item of cartItemList;let i =index;">
                  <td class="text-center">{{i+1}}</td>
                  <td class="text-dark">
                    <div class="img-container">
                      <img class="img-row"
                        [src]="item.imageUrl == '' || item.imageUrl == null ? imageToShow : item.imageUrl" alt="image">

                    </div>
                  </td>
                  <td class="text-primary">

                    <span class="text-primary text-bold"> {{item.ingredientName}}</span>

                  </td>

                  <td> {{item.category.ingredientCategoryName}}</td>
                  <td *ngIf="getOrderDetail">
                    <span *ngIf="getOrderDetail.statusApproved"> {{item.quantityRequest}}</span>
                    <div *ngIf="!getOrderDetail.statusApproved" class="btn-group" role="group"
                      aria-label="Basic example">
                      <div class=" input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend input-group-prepend-quantity">
                          <button class="input-group-text btn-success pr-3" (click)="onRemoveQuantity(item,i)">
                            <span class="material-icons">
                              remove</span>
                          </button>
                        </div>
                        <input min="1" type="number" class="form-control text-center" (focus)="focus1=true"
                          (blur)="focus1=false" [(ngModel)]="item.quantityRequest" (change)="onSearchChange(item,i)"
                          [ngModelOptions]="{standalone: true}" value="{{item.quantityRequest}}" />
                        <div class="input-group-append">
                          <button class="input-group-text btn-success pl-3" (click)="onAddQuantity(item,i)">
                            <span class="material-icons">add</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>{{item.purchaseUnit}}</td>
                  <td class="text-right"> {{item.price| number:'1.2-2'}}</td>
                  <td class="text-right"> {{item.quantityRequest*item.price| number:'1.2-2'}} </td>

                </tr>

              </tbody>
            </table>
          </div>

          <hr>

          <div class="row mt-3" *ngIf="getOrderDetail">

            <div class="col-6">
              <div class="row mb-2">
                <div class="col-2 text-left">
                  <span class="text-gray">หมายเหตุ : </span>
                </div>
                <div class="col-10 ">
                  <span class="text-dark ">{{getOrderDetail.description }}</span>
                </div>
              </div>
            </div>


            <div class="col-md-6">

              <div class="row mb-2">
                <div class="col-6 text-left">
                  <span class="text-muted">รวมเป็นเงิน</span>
                </div>
                <div class="col-6 text-right">
                  <span class="text-dark ">{{total | number:'1.2-2'}}</span>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-6 text-left">
                  <span class="text-muted">ค่าจัดส่ง</span>
                </div>
                <div class="col-6 text-right">
                  <span class="text-dark ">{{shipping | number:'1.2-2'}}</span>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-6  text-left">
                  <span class="text-muted">ส่วนลดท้ายบิล</span>
                </div>
                <div class="col-6 text-right">
                  <span class="text-dark">-{{discountValue | number:'1.2-2'}}</span>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-6  text-left">
                  <span class="text-muted">ราคาหลังหักส่วนลด</span>
                </div>
                <div class="col-6 text-right">
                  <span class="text-dark">{{totalDiscount | number:'1.2-2'}}</span>
                </div>
              </div>


              <div class="row mb-2">
                <div class="col-6  text-left">
                  <span class="text-muted">มูลค่ารวมก่อนภาษี </span>
                </div>
                <div class="col-6 text-right">
                  <span class="text-dark">{{totalVat | number:'1.2-2'}}</span>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-6  text-left">
                  <span class="text-muted">ภาษีมูลค่าเพิ่ม (7%) </span>
                </div>
                <div class="col-6 text-right">
                  <span class="text-dark">{{vat | number:'1.2-2'}}</span>
                </div>
              </div>


              <hr>

              <div class="row mb-3">

                <div class="col-6  text-left">
                  <b><span style="font-weight: bold;" class="text-primary">จำนวนเงินรวมทั้งสิ้น</span></b>
                </div>
                <div class="col-6 text-right">
                  <b><span style="font-weight: bold;" class="text-primary ">{{totalAll |
                      number:'1.2-2'}}</span></b>
                </div>
              </div>


            </div>

          </div>


        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-12">



      <div class="row section-detail">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-header  ">

              <div class="row">
                <div class="col-md-6">

                  <h5 class="card-title">การชำเงิน

                  </h5>
                </div>
                <div class="col-md-6" *ngIf="getOrderDetail">

                  <button type="button" class="btn btn-success mat-raised-button float-right mt-0  "
                    *ngIf="getOrderDetail.statusApproved &&!getOrderDetail.statusPayment" (click)="showChildModal()">
                    เพิ่มการชำระเงิน
                  </button>
                </div>
              </div>

            </div>
            <div class="card-body">

              <div class="table-responsive mt-2">
                <table class="table table-hover">

                  <thead>
                    <tr class="tr-header">
                      <th scope="col">วันที่ชำระ</th>
                      <th scope="col">เวลา</th>
                      <th scope="col" style="width: 15%;">ยอดชำระ</th>
                      <th scope="col">ช่องทางชำระ</th>
                      <th scope="col">ธนาคาร</th>
                      <th scope="col">หมายเหตุ</th>
                      <th scope="col">บันทึกรายการ</th>
                      <th class="text-center" scope="col">Action</th>
                    </tr>
                  </thead>



                  <tbody>
                    <tr *ngFor="let getRiPayment of getRiPayment;let i =index;">

                      <td> <span> {{getRiPayment.datePayment}}</span></td>
                      <td> <span>{{getRiPayment.time}}</span></td>
                      <td> <span> {{getRiPayment.total| number:'1.2-2'}}</span></td>
                      <td> <span> {{getRiPayment.paymentType}}</span></td>
                      <td> <span>{{getRiPayment.bank}}</span></td>
                      <td> <span> {{getRiPayment.description}}</span></td>
                      <td> <span> {{getRiPayment.date|date:'dd/MM/yyy HH:mm'}}</span></td>
                      <td class="text-center">
                        <button mat-raised-button type="button" matTooltip="Edit" [matTooltipPosition]="'above'"
                          class="btn btn-warning btn-link btn-sm btn-icon mr-1"
                          (click)="onUpdatePayment(getOrderDetail.id)">
                          <i class="material-icons">edit</i>
                        </button>
                      </td>
                    </tr>

                  </tbody>

                </table>


              </div>


            </div>
          </div>
        </div>


      </div>

    </div>
  </div>
</div>



<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg modal-dialog-payment">
    <div class="modal-content">

      <div class="modal-header">
        <h5 id="dialog-static-name" class="modal-title pull-left card-title text-primary mt-0">การชำระเงิน
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
          <i class="material-icons">close</i>
        </button>
      </div>
      <form [formGroup]="paymentForm" (ngSubmit)="payment()">
        <div class="modal-body">

          <div class="row mb-2">

            <div class="col-md-12 ">
              <label class="title mb-0">ข้อมูลการชำระเงิน</label>
            </div>

          </div>

          <div class="row" *ngIf="getOrderDetail">
            <div class="col-4">
              <label class="text-title">เลขที่เอกสาร :</label>
            </div>
            <div class="col-8">
              <span style="font-weight: bold;" class="text-primary">{{getOrderDetail.riId}}</span>
            </div>
          </div>
          <div class="row" *ngIf="getOrderDetail">
            <div class="col-4">
              <label class="text-title">ชื่อผู้จัดจำหน่าย :</label>
            </div>
            <div class="col-8">
              <span style="font-weight: bold;" class="text-primary">{{getOrderDetail.supplier.name}}</span>
            </div>
          </div>
          <div class="row ">
            <div class="col-4">
              <label class="text-title">รายการสินค้า :</label>
            </div>


            <div class="col-8">
              <span style="font-weight: bold;" class="text-primary">{{totalItem}} รายการ</span>
            </div>

          </div>
          <div class="row ">
            <div class="col-4">
              <label class="text-title">จำนวนสินค้า :</label>
            </div>


            <div class="col-8">
              <span style="font-weight: bold;" class="text-primary">{{totalQuantity}} </span>
            </div>

          </div>
          <div class="row" *ngIf="getOrderDetail">
            <div class="col-4">
              <label class="text-title">ยอดที่ต้องชำระ :</label>
            </div>
            <div class="col-8">
              <span style="font-weight: bold;" class="text-primary">{{getOrderDetail.totalAll| number:'1.2-2'}}
                บาท</span>
            </div>
          </div>


          <hr>

          <div class="row mb-2">

            <div class="col-md-12 ">
              <label class="title mb-0">วิธีการชำระเงิน</label>
            </div>

          </div>

          <div class="row">

            <div class="col-md-6  ">

              <div class="form-group"
                [ngClass]="{ 'has-danger': f['date'].touched && f['date'].errors, 'has-success': f['date'].valid }">
                <label>วันที่ชำระเงิน</label>
                <input formControlName="date" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                  autocomplete="off" #d="ngbDatepicker" (click)="d.toggle()">
              </div>
            </div>
            <div class="col-md-6  ">
              <div class="form-group"
                [ngClass]="{ 'has-danger': f['time'].touched && f['time'].errors, 'has-success': f['time'].valid }">
                <label>เวลา</label>

                <input type="text" class="form-control" placeholder="" formControlName="time">
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-12  ">
              <div class="form-group"
                [ngClass]="{ 'has-danger': f['type'].touched && f['type'].errors, 'has-success': f['type'].valid }">
                <label>วิธีการชำระ</label>
                <select class="form-control" formControlName="type">
                  <option [value]="'เงินสด'">เงินสด</option>
                  <option [value]="'เงินโอน'">เงินโอน</option>
                  <option [value]="'บัตรเครดิต'">บัตรเครดิต</option>
                  <option [value]="'ช่องทางอื่นๆ'">ช่องทางอื่นๆ</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-12  ">
              <div class="form-group">
                <label>ธนาคาร</label>
                <select class="form-control" formControlName="bank">
                  <option [value]="'กรุงไทย'">กรุงไทย</option>
                  <option [value]="'กรุงเทพ'">กรุงเทพ</option>
                  <option [value]="'กสิกรไทย'">กสิกรไทย</option>
                  <option [value]="'ทหารไทย'">ทหารไทย</option>
                  <option [value]="'ไทยพาณิชย์'">ไทยพาณิชย์</option>
                  <option [value]="'กรุงศรีอยุธยา'">กรุงศรีอยุธยา</option>
                  <option [value]="'เกียรตินาคิน'">เกียรตินาคิน</option>
                  <option [value]="'ซีไอเอ็มบีไทย'">ซีไอเอ็มบีไทย</option>
                  <option [value]="'ทิสโก้'">ทิสโก้</option>
                  <option [value]="'ธนชาต'">ธนชาต</option>
                  <option [value]="'ยูโอบี'">ยูโอบี</option>
                  <option [value]="'ออมสิน'">ออมสิน</option>
                  <option [value]="'อาคารสงเคราะห์'">อาคารสงเคราะห์</option>
                  <option [value]="'ธ.ก.ส.'">ธ.ก.ส.</option>


                </select>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-12">
              <div class="form-group">
                <label> รายละเอียด</label>
                <textarea rows="4" cols="80" class="form-control" formControlName="description"></textarea>
              </div>
            </div>
          </div>


        </div>



        <div class="modal-footer">
          <button type="submit" [disabled]="paymentForm.invalid" class="btn btn-success">ยืนยัน</button>
          <button type="button" class="btn btn-gray" (click)="hideChildModal()">ยกเลิก</button>

        </div>

      </form>


    </div>
  </div>

</div>

<div class="modal fade" bsModal #staticModal2="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left card-title text-primary mt-0">แก้ไขการชำระเงิน</h4>
        <button type="button" class="close" aria-label="Close" (click)="hideChildModal2()">
          <i class="material-icons">close</i>
        </button>
      </div>

      <form [formGroup]="paymentUpdateForm" (ngSubmit)="paymentUpdate()">
        <div class="modal-body">

          <div class="row mb-2">

            <div class="col-md-12 ">
              <label class="title mb-0">ข้อมูลการชำระเงิน</label>
            </div>

          </div>

          <div class="row" *ngIf="getOrderDetail">
            <div class="col-4">
              <label class="text-title">เลขที่เอกสาร :</label>
            </div>
            <div class="col-8">
              <span style="font-weight: bold;" class="text-primary">{{getOrderDetail.riId}}</span>
            </div>
          </div>
          <div class="row" *ngIf="getOrderDetail">
            <div class="col-4">
              <label class="text-title">ชื่อผู้จัดจำหน่าย :</label>
            </div>
            <div class="col-8">
              <span style="font-weight: bold;" class="text-primary">{{getOrderDetail.supplier.name}}</span>
            </div>
          </div>
          <div class="row ">
            <div class="col-4">
              <label class="text-title">รายการสินค้า :</label>
            </div>


            <div class="col-8">
              <span style="font-weight: bold;" class="text-primary">{{totalItem}} รายการ</span>
            </div>

          </div>
          <div class="row ">
            <div class="col-4">
              <label class="text-title">จำนวนสินค้า :</label>
            </div>


            <div class="col-8">
              <span style="font-weight: bold;" class="text-primary">{{totalQuantity}} </span>
            </div>

          </div>
          <div class="row" *ngIf="getOrderDetail">
            <div class="col-4">
              <label class="text-title">ยอดที่ต้องชำระ :</label>
            </div>
            <div class="col-8">
              <span style="font-weight: bold;" class="text-primary">{{getOrderDetail.totalAll| number:'1.2-2'}}
                บาท</span>
            </div>
          </div>



          <hr>

          <div class="row mb-2">

            <div class="col-md-12 ">
              <h5 class="title mb-0">วิธีการชำระเงิน</h5>
            </div>

          </div>


          <div class="row">

            <div class="col-md-6  ">

              <div class="form-group"
                [ngClass]="{ 'has-danger': fUpdate['date'].touched && fUpdate['date'].errors, 'has-success': fUpdate['date'].valid }">
                <label>วันที่ชำระเงิน</label>
                <input formControlName="date" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                  #d2="ngbDatepicker" (click)="d2.toggle()">
              </div>
            </div>
            <div class="col-md-6  ">
              <div class="form-group"
                [ngClass]="{ 'has-danger': fUpdate['time'].touched && fUpdate['time'].errors, 'has-success': fUpdate['time'].valid }">
                <label>เวลา</label>

                <input type="text" class="form-control" placeholder="" formControlName="time">
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-12  ">
              <div class="form-group"
                [ngClass]="{ 'has-danger': fUpdate['type'].touched && fUpdate['type'].errors, 'has-success': fUpdate['type'].valid }">
                <label>วิธีการชำระ</label>
                <select class="form-control" formControlName="type">
                  <option [value]="'เงินสด'">เงินสด</option>
                  <option [value]="'เงินโอน'">เงินโอน</option>
                  <option [value]="'บัตรเครดิต'">บัตรเครดิต</option>
                  <option [value]="'ช่องทางอื่นๆ'">ช่องทางอื่นๆ</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-12  ">
              <div class="form-group">
                <label>ธนาคาร</label>
                <select class="form-control" formControlName="bank">
                  <option [value]="'กรุงไทย'">กรุงไทย</option>
                  <option [value]="'กรุงเทพ'">กรุงเทพ</option>
                  <option [value]="'กสิกรไทย'">กสิกรไทย</option>
                  <option [value]="'ทหารไทย'">ทหารไทย</option>
                  <option [value]="'ไทยพาณิชย์'">ไทยพาณิชย์</option>
                  <option [value]="'กรุงศรีอยุธยา'">กรุงศรีอยุธยา</option>
                  <option [value]="'เกียรตินาคิน'">เกียรตินาคิน</option>
                  <option [value]="'ซีไอเอ็มบีไทย'">ซีไอเอ็มบีไทย</option>
                  <option [value]="'ทิสโก้'">ทิสโก้</option>
                  <option [value]="'ธนชาต'">ธนชาต</option>
                  <option [value]="'ยูโอบี'">ยูโอบี</option>
                  <option [value]="'ออมสิน'">ออมสิน</option>
                  <option [value]="'อาคารสงเคราะห์'">อาคารสงเคราะห์</option>
                  <option [value]="'ธ.ก.ส.'">ธ.ก.ส.</option>


                </select>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-12">
              <div class="form-group">
                <label> รายละเอียด</label>
                <textarea rows="4" cols="80" class="form-control" formControlName="description"></textarea>
              </div>
            </div>
          </div>

        </div>


        <div class="modal-footer">
          <button type="submit" [disabled]="paymentUpdateForm.invalid" class="btn btn-success">ยืนยัน</button>
          <button type="button" class="btn btn-gray" (click)="hideChildModal2()">ยกเลิก</button>

        </div>

      </form>


    </div>
  </div>

</div>
